/* || Login */

.grid-container-login{
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 30rem 1fr;
    grid-template-areas:
    "header header header"
    "....   form    ....";
}

.grid-container-login .header{
    grid-area: header;
}

.grid-container-login .form{
    grid-area: form;
}

/* || wishlist */

.grid-container-wishlist{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 60rem 1fr;
    grid-template-areas: 
    "header header header"
    "....   wishlist    ....";
}

.grid-container-wishlist .header{
    grid-area: header;
}

.grid-container-wishlist .wishlist-card-wrapper{
    grid-area: wishlist;
}

.wishlist-card-wrapper .card{
    margin: 2rem 0;
}

.wishlist-card-wrapper h1{
    text-align: center;
}

/* || cart */

.page-title{
    text-align: center;
    margin: 2rem 0;
}

.grid-container-cart{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 20rem 1fr;
    grid-template-areas: 
    "....   cards  aside   ....";

}

.card-wrapper-cart{
    grid-area: cards;
}

.price-card{
    padding: 2rem;
    height: fit-content;
    border-radius: var(--border-radius);
    grid-area: aside;
}

.price-card hr, .price-card .btn{
    margin: 0.8rem 0;
}

.price-card li, .total-amount{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.total-amount{
    font-weight: 700;
}

.card-wrapper-cart .card{
    margin-bottom: 2rem;
}

/* || product */

.filter{
    padding: 2rem;
}

.filter ul{
    margin: 1.5rem 0;
}

.filter li{
    list-style: none;
    margin: 0.5rem 0;
}

.filter label{
    font-weight: 400;
}

.filter-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-page-container{
    display: grid;
    grid-template-columns: 16rem 1fr;
}

.product-cards-container{
    padding: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

.product-page-container .page-title{
    text-align: left;
    margin-left: 2rem;
    margin-bottom: 0;
}

.product-page-container .page-title span{
    font-size: 1.2rem;
    font-weight: 300;
}