/* || Login */

.grid-container-login{
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 30rem 1fr;
    grid-template-areas:
    "header header header"
    "....   form    ....";
}

.grid-container-login .header{
    grid-area: header;
}

.grid-container-login .form{
    grid-area: form;
}

/* || wishlist */

.grid-container-wishlist{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 60rem 1fr;
    grid-template-areas: 
    "header header header"
    "....   wishlist    ....";
}

.grid-container-wishlist .header{
    grid-area: header;
}

.grid-container-wishlist .wishlist-card-wrapper{
    grid-area: wishlist;
}

.wishlist-card-wrapper .card{
    margin: 2rem 0;
}

.wishlist-card-wrapper h1{
    text-align: center;
}